select {
  margin-bottom:20px;
  width:200px;
}

h1 {
  font-family: 'noodle', sans-serif;
  font-size:100px;
  color:black;
  transition: all 5s ease-in-out;
}

p {
  font-family: 'noodle';
  font-size:60px;

  color:black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

img {
  float:right;
}

@font-face {
  font-family: 'noodle';
  src: url("/assets/fonts/noodleitalics.ttf");
}

.well {
  background-color:white;
  border:1px solid black;
}
