.navbar {
  background-image:url("/assets/images/3.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  transition: all 0.35s ease-in-out;
  position:fixed;
  z-index:1;
  width:100%;
}

.navbar:hover {
  background-image:url("/assets/images/1.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  transition: all 0.35s ease-in-out;
}


h1 {
     font-family: 'noodle', sans-serif;
     font-size:130px;
     text-align:center;
     -webkit-text-stroke: 2px black;
     margin-top:50px;
}


@font-face {
  font-family: 'noodle';
  src: url("/assets/fonts/noodleitalics.ttf");
}

a {
  margin-left: 100px;
  font-family: 'noodle', sans-serif;
  font-size:30px;
  color:white;
}

a:hover {
  font-size:40px;
  transition: all 0.35s ease-in-out;
}

.navbar a {
  color:white;
}

#homebutt {
  color:white;
  text-decoration:none;
}

#homebutt:hover {
  color:black;
  opacity:1;
}
