<h2>Player Roster</h2>

<select (change)="onChange($event.target.value)">
  <option value="All Roles">All Roles</option>
  <option value="Tank">Tank</option>
  <option value="Support">Support</option>
  <option value="DPS">DPS</option>
</select>

<select (change)="onChange2($event.target.value)">
  <option value="All Ranks">All Ranks</option>
  <option value="GM">GM</option>
  <option value="Master">Master</option>
  <option value="Diamond">Diamond</option>
  <option value="Platinum">Platinum</option>
  <option value="Gold">Gold</option>
  <option value="Silver">Silver</option>
  <option value="Bronze">Bronze</option>
</select>

<div *ngFor="let user of users | async | mainclass:filterposition | skillrating:filterskill " class="panel panel-default" >
  <div class="panel-body">
    <h3 (click)="goToDetailPage(user)"><img src="{{user.usercover}}" width=120px><br><em>{{user.name}}</em> Position: {{user.mainclass}} </h3>
    <div *ngIf="currentRoute === '/admin'">
      <h5>{{user.description}}</h5>
      <br>

      <hr>
      <app-edit-user [selectedUser]="user"></app-edit-user>
    </div>
  </div>
</div>
