/* You can add global styles to this file, and also import other style files */


body {
  background-image:url("/assets/images/3.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color:black;
  background-image:url("/assets/images/1.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  height:20px;
}
